{
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,
  }
}
