language: node_js
node_js:
  - 12
jobs:
  include:
    - stage: release
      node_js: lts/*
      script: npm run build
      deploy:
        provider: script
        script: npx -p @semantic-release/changelog -p @semantic-release/git -p semantic-release semantic-release
        skip_cleanup: true
